.footer {
    background-color: #20232a;
    color: #61dafb;
    padding: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 15px;
  }
  
  .footer-links li a {
    color: #ffffff;
    text-decoration: none;
  }
  