#tabletop {
	display: flex;
}

#table {
	max-height: 740px;
}

#subj {
	max-width: 90px;
	min-width: 90px;
}

#subm {
	max-width: 220px;
	min-width: 220px;
	padding-left: 3%;
}

#stat {
	padding-left: 1%;
	max-width: 80px;
	min-width: 80px;
}

#subd {
	padding-left: 3%;
	max-width: 180px;
	min-width: 180px;
}

#subfeed {
	padding-left: 3%;
	max-width: 150px;
	min-width: 150px;
}
