#tabletop {
    display: flex;
}

#subj {
    position: absolute;
}

#subm {
    position: absolute;
    left: 18%;
}

#stat {
    position: absolute;
    left: 50%;
}

#subd {
    padding-left: 80%;

}