.assign {
    justify-content: space-between;
    display: flex;
}

.assignName {
    padding-top: .1%;
    padding-bottom: .1%;
    max-width: 90px;
    min-width: 90px;
}

.forms {
    padding-left: 2%;
    padding-top: 1%;
    width: 29%;
    height: 3.4%;
    max-width: 200px;
    min-width: 200px;
}

.assignform {
    display: flex;
}

.assignInput {
    width: 150px;
    height: 20px;
}

.Submission {
    margin-left: 2%;
    border-color: #ddd;
}

.Submission:hover {
    cursor: pointer;
}

.assignStatus {
    padding-left: 3%;
    max-width: 80px;
    min-width: 80px;
}

.assignDate {
    padding-left: 2%;
    max-width: 180px;
    min-width: 180px;
}  

.assignfeed {
    padding-left: 2%;
    max-width: 150px;
    min-width: 150px;
}