/* General Table Styles */
.table-container {
    max-width: 100%;
    overflow-x: auto;
}

table {
    margin-top: 5px;
    margin-left: 30px;
    width: 100%;
    border-collapse: collapse;
    font-family: helvetica;
    color: #333;
    font-size: 19px;
}

table th,
table td {
    padding: 15px;
    border: 1px solid black;
}

table th {
    background-color: #f2f2f2;
    font-size: 20px;
}

/* Student Display Styles */
.Student-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, sans-serif;
    font-size: 15px;
}

.custom-select {
    margin-left: 15px;
    padding-top: 6px;
    font-size: 10px;
}

.select {
    padding: 6px 6px;
    font-size: 17px;
}

/* Assignment Styles */
.assignment-text {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.assignment-text-submission{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Submit-assignment {
    margin-left: 10px;
    border-radius: 10%;
    border-color: #ddd;
}

/* Additional Assignment Styles */
.assignments .due-soon {
    color: red;
    font-weight: bold;
}
