#desiredLocaCon {
    background-color: transparent;
    height: 300px;
    width: 430px;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    text-align: center;
    padding-top: 65px;
}

#desiredLocaH {
    color: darkorange;
    font-size: 25px;
}

#inputDesLoca {
    width: 46%;
    height: 20px;
    background-color: rgb(217, 232, 252);
    border-radius: 7px;
    margin-top: 2%;
}

#updateDesLoca {
    color: darkblue;
    background-color: darkorange;
    border-radius: 15px;
    padding: 7px 33px;
    margin-top: 4%;
}

#updateDesLoca:hover {
    cursor: pointer;
    color: lightcoral;
    background-color: blue;
}