#locationCon {
    background-color: transparent;
    height: 400px;
    width: 430px;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    text-align: center;
    padding-top: 70px;
}

#locationH {
    color: darkorange;
    font-size: 25px;
}

#InputLocation {
    width: 45%;
    height: 20px;
    background-color: rgb(217, 232, 252);
    border-radius: 7px;
}

#updateLocation {
    color: darkblue;
    background-color: darkorange;
    border-radius: 15px;
    padding: 7px 60px;
}

#updateLocation:hover {
    cursor: pointer;
    color: lightcoral;
    background-color: blue;
}