@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

#regpage {
    background-color: #f1f1f1;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    text-align: center;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

#reg {
    margin: auto;
    position: absolute;
    top: 8%;
    left: 19%;
    padding-top: 9%;
    padding-bottom: 9%;
    padding-left: 12%;
    padding-right: 12%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px lightgrey;
}

#reginput {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    left: .01%;
    width: 95%;
    background-color: darkgrey;
    position: relative;
    right: 10%;
    border-radius: 15px;
}

#regbtn {
    background-color: inherit;
    background-color: rgb(62, 190, 178);
    padding-left: 16%;
    padding-right: 16%;
    padding-top: 1.6%;
    padding-bottom: 1.6%;
    border-radius: 15px;
}

#regbtn:hover {
    background-color: rgb(82, 158, 150);
}

#loglin {
    background-color: rgb(62, 190, 178);
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 1.6%;
    padding-bottom: 1.6%;
    border-radius: 15px;
}

#loglin:hover {
    background-color: rgb(82, 158, 150);
}

#reghead {
    color: darkblue;
    font-size: xx-large;
}