.dashboard-page {
    min-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-container{
    display: flex;
    flex-direction: row;
}


.calendar{
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.calendar-container{
    font-size: 15px;
}
.calendar-header{
    display: flex;
    font-size: 35px;
    justify-content: space-around;
}

.text-center{
    display: flex;
    justify-content: space-around;
    margin-top: 13px;
    font-family: 'Monaco', sans-serif;
    font-size: 16px;
}
.profile-info {
    display: flex;
    flex-direction: row;
    font-family: 'Monaco', sans-serif;
    font-size: 19px;
    font-weight: 300;
    justify-content: space-around;
}

.logout-button {
    margin-left: auto;
    padding: 5px 15px;
    background-color: #888282;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}