.appheader {
	background-color: #333;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 14px;
	height: 26px;
	margin-top: 15px;
}

.apptitle {
	color: #fff;
	font-size: 1.5rem;
	margin: 0;
	text-decoration: none;
}
.navmenu {
	margin-right: 20px;
}
.navmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 1rem;
}

.navmenu li {
	margin: 0;
}

.navmenu a {
	color: #fff;
	text-decoration: none;
	transition: color 0.2s;
}

.navmenu a:hover {
	color: #ddd;
}

.id {
	width: 25px;
	height: 25px;
}

.galvanize_logo {
	width: 50px;
	height: 50px;
}

.logbtn {
	border-radius: 5px;
}

.id:hover {
	fill: #0e1a25;
	transform: scale(1.1);
	transition: background 0.5s, transform 0.5s ease-out, fill 0.3s;
	cursor: pointer;
}

.settingDropdown {
	position: relative;
	display: inline-block;
}

.settingDropdownList {
	position: absolute;
	background-color: #3d3d3d;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
	padding: 12px 12px;
	z-index: 3;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	border-radius: 15px;
}

.settingDropdownList a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.settingDropdown:hover .settingDropdownList {
	visibility: visible;
	right: -100px;
}

.settingDropdownList a:hover {
	background-color: white;
	color: #3d3d3d;
	z-index: 4;
	cursor: pointer;
}
